.container {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: blueviolet;
}
.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;
}
p {
  color: rgb(71, 68, 68);
}
.button {
  background-color: white;
  color: blueviolet;
  top: 60%;
  left: 60%;
  transform: translate(0%, 200%);
}
